In [1]:
import pandas as pd
import numpy as np
from bokeh.plotting import figure,  show

In [3]:
TCS_DATA = pd.read_csv("TCS_DATA.csv")
TCS_DATA.head()
INFY_DATA = pd.read_csv("INFY_DATA.csv")
INFY_DATA.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2015-01-01,INFY,EQ,1972.55,1968.95,1982.00,1956.9,1971.00,1974.40,1971.34,500691,9.870306e+13,14908,258080,0.5154
1,2015-01-02,INFY,EQ,1974.40,1972.00,2019.05,1972.0,2017.95,2013.20,2003.25,1694580,3.394669e+14,54166,1249104,0.7371
2,2015-01-05,INFY,EQ,2013.20,2009.90,2030.00,1977.5,1996.00,1995.90,2004.59,2484256,4.979911e+14,82694,1830962,0.7370
3,2015-01-06,INFY,EQ,1995.90,1980.00,1985.00,1934.1,1965.10,1954.20,1954.82,2416829,4.724458e+14,108209,1772070,0.7332
4,2015-01-07,INFY,EQ,1954.20,1965.00,1974.75,1950.0,1966.05,1963.55,1962.59,1812479,3.557162e+14,62463,1317720,0.7270

CALCULATING MOVING AVERAGE.
ASSUMING, ONE WEEK HAS 5 WORKINGDAYS THUS N WEEKS HAVING 5*N

In [4]:
Moving_AVG_4W = TCS_DATA["Close"].rolling(window=20).mean()

Moving_AVG_16W = TCS_DATA["Close"].rolling(window=80).mean()

Moving_AVG_28W = TCS_DATA["Close"].rolling(window=140).mean()

Moving_AVG_40W = TCS_DATA["Close"].rolling(window=200).mean()

Moving_AVG_52W = TCS_DATA["Close"].rolling(window=260).mean()

In [ ]:
CALCULATING VOLUME SHOCK,PRICE SHOCK AND PRICE SHOCK WITHOUT VOLUME SHOCK.

In [5]:
Volume_shock = []
v_Direction = []
Volume_shock.append(0)
v_Direction.append(0)

Price_shock = []
p_Direction = []
Price_shock.append(0)
p_Direction.append(0)

PS_without_WS =[]
PS_without_WS.append(0)


for i in range(1,len(TCS_DATA)):
    if TCS_DATA['Volume'][i] > (TCS_DATA['Volume'][i-1]+0.1*TCS_DATA['Volume'][i-1]):
        Volume_shock.append(1);
        v_Direction.append(1);
    else:
        Volume_shock.append(0); 
        v_Direction.append(0);
    if TCS_DATA['Close'][i] > (TCS_DATA['Close'][i-1]+0.02*TCS_DATA['Close'][i-1]):
        Price_shock.append(1);
        p_Direction.append(1);
    else:
        Price_shock.append(0); 
        p_Direction.append(0);
TCS_DATA["Volume_Shock"] = pd.DataFrame(Volume_shock)
TCS_DATA["Volume_Direction"] = pd.DataFrame(v_Direction)

TCS_DATA["Price_Shock"] = pd.DataFrame(Price_shock)
TCS_DATA["Price_Direction"] = pd.DataFrame(p_Direction)

for i in range(1,len(TCS_DATA)):
    if (TCS_DATA["Price_Shock"][i]==1) and (TCS_DATA["Volume_Shock"][i]==0):
        PS_without_WS.append(1)
    else:
        PS_without_WS.append(0)
TCS_DATA["PS_without_WS"] = pd.DataFrame(PS_without_WS) 

TCS_DATA.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble,Volume_Shock,Volume_Direction,Price_Shock,Price_Direction,PS_without_WS
0,2015-01-01,TCS,EQ,2558.25,2567.0,2567.00,2541.00,2550.00,2545.55,2548.51,183415,4.674345e+13,8002,52870,0.2883,0,0,0,0,0
1,2015-01-02,TCS,EQ,2545.55,2551.0,2590.95,2550.60,2588.40,2579.45,2568.19,462870,1.188740e+14,27585,309350,0.6683,1,1,0,0,0
2,2015-01-05,TCS,EQ,2579.45,2581.0,2599.90,2524.65,2538.10,2540.25,2563.94,877121,2.248886e+14,43234,456728,0.5207,1,1,0,0,0
3,2015-01-06,TCS,EQ,2540.25,2529.1,2529.10,2440.00,2450.05,2446.60,2466.90,1211892,2.989615e+14,84503,714306,0.5894,1,1,0,0,0
4,2015-01-07,TCS,EQ,2446.60,2470.0,2479.15,2407.45,2426.90,2417.70,2433.96,1318166,3.208362e+14,101741,886368,0.6724,0,0,0,0,0

In [ ]:
CREATING PLOT USING BOKEH

In [8]:
from bokeh.io import reset_output
from bokeh.io import output_notebook

In [9]:
from bokeh.plotting import figure, show,  output_notebook
import datetime
from bokeh.io import reset_output()
from bokeh.io import output_notebook()
TCS = pd.read_csv('TCS_DATA.csv',parse_dates=['Date'])


plot=figure(x_axis_label='Date', x_axis_type='datetime',y_axis_label='Closing Price')
plot.line(TCS['Date'],TCS['Close'],line_width=2,color='blue')

show(plot) #PLOT 1 -Color timeseries in simple blue color

TCS_1 = TCS_DATA.loc[TCS_DATA["Volume_Shock"]==1]
TCS_0 = TCS_DATA.loc[TCS_DATA["Volume_Shock"]==0]

TCS_1['Date'] = pd.to_datetime(TCS_1['Date'])
TCS_0['Date'] = pd.to_datetime(TCS_0['Date'])

TCS_1 = TCS_1.reindex(np.arange(TCS_1.index.min(), TCS_1.index.max() + 1))
TCS_0 = TCS_0.reindex(np.arange(TCS_0.index.min(), TCS_0.index.max() + 1))

plt = figure(x_axis_label='Date', x_axis_type='datetime',y_axis_label='Closing Price')

plt.circle(TCS_1['Date'],TCS_1['Close'],fill_color='Red')
plt.circle(TCS_0['Date'],TCS_0['Close'],color='Blue')

show(plt) #PLOT 2  Color timeseries between two volume shocks in a different color

C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [ ]:
plt_1=figure(x_axis_label='Date', x_axis_type='datetime',y_axis_label='Closing Price')
TCS_PWV=TCS_DATA.loc[TCS_DATA["PS_without_WS"]==1]
TCS_PWV['Date'] = pd.to_datetime(TCS_PWV['Date'])

plt_1.line(TCS['Date'],TCS['Close'],line_width=2,color='blue')
plt_1.circle(TCS_PWV['Date'],TCS_PWV['Close'],size=10,fill_color='Black')
show(plt_1) #PLOT 2 -Mark closing Pricing shock without volume shock to identify volumeless price movement.